@font-face {
  font-family: 'Cookie';
  src: url(Cookie/Cookie-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url(Open_Sans/OpenSans-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url(Open_Sans/OpenSans-Italic.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url(Open_Sans/OpenSans-Bold.ttf) format('ttf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url(Open_Sans/OpenSans-SemiBold.ttf) format('ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Tinos';
  src: url(Tinos/Tinos-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}

